html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    transition: 300ms;
}

#header:hover {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 300ms;
}

#menu {
    display: flex;
    justify-content: space-around;
    justify-content: right;
    align-items: center;
    width: 100%;
}

#menu ul {
    padding: 0;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

#menu a:hover {
    color: rgb(107, 204, 163);
    transition: 200ms;
}

#menu a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

#logo {
    margin-left: 15px;
    margin-top: 5px;
    min-width: 200px;
}

#header img{
    width: 85%;
    height: auto;
}

#hamburger {
    background: none;
    border: none;
    padding: 20px;
    margin-left: 20px;
    cursor: pointer;
    height: auto;
}

.line {
    width: 23px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.line:hover {
    transition: 0.2s;
    background-color:rgb(107, 204, 163);
}

#main {
    background: url(img/lightbulbsmall.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    margin-top: -95px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: end;
    align-items: left;
    color: white;
    font-family: GraphikMedium, Helvetica, sans-serif;
    font-weight: lighter;
}

#l1 {
    margin-left: 4vw;
    margin-bottom: 4vw;
    font-size: 4vw;
    font-weight: lighter;
}

#footer {
    background-color: white;
    display: block;
    width: 100%;
    height: 200px;
}

#footer #logo {
    max-width: 200px;
    height: auto;
    margin: 40px;
}

#insights {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: GraphikMedium, Helvetica, sans-serif;
    font-size: small;
    margin-top: 20px;
}



#linebreak {
    width: 90vw;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin:auto;
    margin-top: 20px;
}

@media screen and (max-width: 678px) {
    #menu a{
        display: none;
    }

    #menu {
        display: none;
    }

    #hamburger {
        position: absolute;
        left: 0px;
        padding: 0px;
    }

    #logo {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        max-width: 120px;
        max-height: auto;
    }

    body {
        padding-bottom: env(safe-area-inset-bottom);
    }
}